{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}
{% block body %}
    <img src="{{ album.album_logo }}">

    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>

    {% if error_message%}
        <p><strong>{{ error.message }}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id%}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}">
            <label for="song{{forloop.counter}}">
                {{song.song_title}}
                {% if song.is_favorite%}
                    <img style="width: 20px;" src="https://www.clipartmax.com/png/middle/37-370288_star-clip-art-tiny-star-clip-art.png"/>
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>

{% endblock %}