{% extends 'music/base.html' %}

{% block body %}

        <h3>Here are all my albums:</h3>
        <ul>
            {% for album in object_list %}
            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
             <form action="{% url 'music:album_delete' album.id %}" method="post" style="display: inline">
                 {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            {% endfor %}

        </ul>
{% endblock %}

